.container{
  .info-form{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  padding: 10px 20px;
  form{
    table{
      input[type="text"]:active{
        border: 0 !important;
      }

    }
  }
  .actions{
    margin-top: 3rem;
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}


