<!--<p>-->
<!--  It works! Description: {{description}}-->
<!--</p>-->
<!--<div class="container" #autocomplete>-->
<!--  <div class="searchbar_container">-->
<!--    <input type="text" class="autocomplete" (click)="showUsers = true" (input)="onInput()" [(ngModel)]="selectedEmployee">-->
<!--  </div>-->
<!--&lt;!&ndash;  {{profiles | json}}&ndash;&gt;-->

<!--  <ul>-->
<!--    <li *ngFor="let profile of profiles">-->
<!--      <p *ngIf="profile.Key ==='FirstName'">Name{{profile.Value}}</p>-->
<!--      <p *ngIf="profile.Key ==='WorkEmail'">Email{{profile.Value}}</p>-->
<!--    </li>-->
<!--  </ul>-->


<!--</div>-->

<div class="container" #autocomplete>
  <div class="searchbar_container">
    <input type="text" class="autocomplete" (click)="showUsers = true"  (input)="onInput()" [(ngModel)]="selectedUser">
    <img src="{{searchIcon}}" alt="" class="search_icon">
  </div>
  <div >
    <cdk-virtual-scroll-viewport class="users" [itemSize]="5" *ngIf="showUsers">
      <ul>
        <li *cdkVirtualFor="let profile of profiles | search:selectedUser " class="example-item" (click)="onSelectUser(profile)">
          <div class="user_info__wrapper">
            <div class="img__wrapper">
              <img [src]="profile.PictureUrl" alt="profile picture" *ngIf="profile.PictureUrl;else noPicture">
              <ng-template #noPicture>
                <span>{{profile.FirstName.substring(0,1)}}.</span>
              </ng-template>
            </div>
            <div class="user__info">
              <span class="user__info-name"  [innerHTML]="profile.FirstName | highlight: selectedUser">

              </span>
              <span class="user__info-lastname" [innerHTML]="profile.LastName | highlight: selectedUser"></span>
              <span class="user__info-email" [innerHTML]="profile.WorkEmail"></span>

            </div>
          </div>
        </li>
      </ul>
      <div class="footer">Search Directory for {{selectedUser}}</div>
    </cdk-virtual-scroll-viewport>
  </div>

</div>






